{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <form action="" method="POST" class="w-50 m-auto border text-light p-4 mt-5">
            {% csrf_token %}
            <!-- {{form}} -->
            <label for="">Kullanıcı adı</label>
            <input type="text" name="kullanici" id="" class="form-control">
            <label for="">Email</label>
            <input type="email" name="email" id="" class="form-control">
            <input type="submit" value="Güncelle" class="btn btn-primary mt-2">
        </form>
    </div>
{% endblock content %}